@model IT_PROJECT_OnlineStore.Models.Producer

@{
	ViewBag.Title = "BrowseBrand";
}

<h1> @Model.Name</h1>

<div class="container">
	<div class="row">
		@foreach (var c in Model.Items)
		{

		<div class="col-md-4 col-sm-1 ">
			<img src="@c.ItemUrl" width="220" height="160" class="thumbnail"/>
			<div>
				@Html.ActionLink("Add to cart", "AddToCart",
				"ShoppingCart", new { id = c.ItemId },"")
			</div>
		</div>

		}

	</div>
</div>
