<h1>За Нас</h1>
<br />
<br />
<div class="post-content">
	<p style="text-align:justify"><span style="font-size:16px"><span style="font-family:verdana">Компанијата&nbsp;<strong>СпортСити</strong>&nbsp;е лидер на пазарот за спортска облека, обувки и опрема.&nbsp;<strong>СпортСити</strong>&nbsp;е основана во 1996 година во Бијелина (Босна и Херцеговина).&nbsp;СпортСити е овластен интернационален партнер за водечките брендови&nbsp;<strong>Nike, Adidas, Reebok, New Balance.</strong>&nbsp;и др. Во понудата имаме широк асортиман со повеќе од 50 други реномирани брендови како на пример:&nbsp;<strong>Champion, Umbro, Lonsdale, Ellesse, Sergio Tacchini, Slazenger, Karrimor</strong></span></span></p>

	<p style="text-align:justify"><span style="font-size:16px"><span style="font-family:verdana">Основна дејност на фирмата е трговија со спортски обувки, облека и опрема преку малопродажна и големопродажна мрежа.&nbsp;</span></span></p>

	<p style="text-align:justify"><span style="font-size:16px"><span style="font-family:verdana">Малопродажната мрежа брои <strong>повеќе од 200 продажни објекти во 8 држави</strong>: Македонија, Србија, Босна и Херцеговина, Црна Гора, Хрватска, Албанија, Бугарија и Романија. Продавниците се поделени според четири концепти: мултибренд, аутлет, екстра аутлет и детска продавница.</span></span></p>

	

	<p style="text-align:justify">
		<span style="font-size:16px">
			<span style="font-family:verdana">
				Успешниот тим брои <strong>повеќе од 1500 вработени</strong>, и бројот секојдневно се повеќе се зголемува.<br>
				<br>
				<strong>СпортСити</strong>&nbsp;е посветен на обезбедување позитивен придонес кон општеството и животната средина преку развивање и спроведување на одговорни бизнис практики кои, во исто време, обезбедуваат&nbsp;остварување на финансиски успех.<br>
				<br>
				<strong>МИСИЈА</strong>
			</span>
		</span>
	</p>

	<p style="text-align:justify"><span style="font-size:14px"><span style="font-family:verdana">Да бидеме лидер во малопродажба, секогаш инспиративно и активно поврзани со своите потрошувачи, клиенти и партнери преку заедничко малопродажно искуство и дизајн на производи кои го збогатуваат животниот стил на потрошувачите</span></span></p>

	<p style="text-align:justify"><span style="font-size:14px"><span style="font-family:verdana"><strong>ВИЗИЈА</strong></span></span></p>

	<p style="text-align:justify"><span style="font-size:14px"><span style="font-family:verdana">Да бидеме најсилен и најголем малопродажен ланец во регионот, да внесеме иновации, да истражуваме и да го понудиме најдоброто.</span></span></p>

	<p style="text-align:justify"><span style="font-size:14px"><span style="font-family:verdana">СпортСити&nbsp;е синоним за&nbsp;<em><span style="color:#FF0000"><strong>“СÉ НА ЕДНО МЕСТО”.</strong></span></em></span></span></p>

	<p>&nbsp;</p>

</div>