@{
    ViewBag.Title = "Контакт Информации";
}
<h2>@ViewBag.Title.</h2>


<address style="font-size:20px;">
    Булевар Ленинова<br />
    Струмица,1220<br />
						  <abbr title="Телефон">Телефон:</abbr>
    075/221/335
</address>

