@model IT_PROJECT_OnlineStore.Models.Order


@{
	ViewBag.Title = "Address And Payment";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"
		type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"
		type="text/javascript"></script>
@using (Html.BeginForm())
{

	<h2>Потврда и плаќање</h2>

	<fieldset>
		<legend>Внесете информации за достава</legend>
		@Html.EditorForModel(new { htmlAttributes = new { @class = "form-control" } })
	</fieldset>
	<br />
	@Html.ActionLink("Потврди", "Completee", "Checkout", null, new { @class = "btn btn-primary" });

}

