@model int?
@{
	ViewBag.Title = "Потврдата е успешна";
}
<h2>Checkout Complete</h2>
<p>Ви благодариме , вашата шифра е: @Model</p>
<p>
	Ако сакате да продожите со пазарувањето
	@Html.ActionLink("Store",
"Index", "Home")
</p>
